
/* FontAwesome CDN 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

Google Web Font
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
}
/* Common CSS */
.container {
  background-color: #fff;
}
section {
  padding-top: 50px;
}
/* Header */
header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
/* Navi */
.navi {
  width: 1300px;
  margin: auto;
  overflow: hidden;
  height: 100px;
  line-height: 100px;
}
.lnb {
  color: #Fff;
  float: left;
}
.gnb {
  float: right;
}
.lnb img {
  vertical-align: middle;
  margin-left: 10px;
}
.lnb span {
  margin-left: 50px;
  cursor: pointer;
}
/* GNB */
.gnb a {
  color: #fff;
  margin-left: 15px;
  position: relative;
  padding-bottom: 5px;
  display: inline-block;
  width: 70px;
  text-align: center;
}
.gnb a:hover {
  color: #000;
}
header .active .gnb a:before {
  background-color: #777;
}
.trigger {
  padding: 7px 15px;
  border-radius: 5px;
  color: rgb(214, 214, 214);
  transition: 0.5s;
}
.trigger:hover {
  color: #fff;
  background-color: rgba(225, 225, 225, 0.05);
}
/* Section Welcome */
.welcome {
  height: 600px;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  position: relative;
}
.section-inner {
  width: 1300px;
  margin: auto;
}
.section-inner h1 {
  font-size: 3em;
  position: relative;
  display: inline-block;
  z-index: 1;
}
.section-inner h1 span {
  color: tomato;
}
.section-inner h1:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 15px;
  background-color: gold;
  z-index: -1;
}
.section-inner p {
  font-size: 1.6em;
  line-height: 1.8em;
  text-align: justify;
}
.section-inner p span {
  background-color: #000;
  color: #fff;
}
.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
.heading h1 {
  font-size: 3em;
}
.heading p {
  font-size: 1.7em;
}
/* Footer */
footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: 'PT Sans', 'sans-serif';
}
.footer-inner {
  width: 1300px;
  margin: auto;
  padding: 30px;
  overflow: hidden;
}
.footer-inner div {
  float: left;
}
.footer-inner div:nth-child(1) {
  width: 20%;
}
.footer-inner div:nth-child(2) {
  width: 20%;
}
.footer-inner div:nth-child(3) {
  width: 60%;
}
.footer-inner div a {
  display: block;
  color: #777;
}
.footer-inner div a:hover {
  text-decoration: underline;
}
.footer-inner div b {
  display: block;
  margin-bottom: 5px;
  color: #ccc;
}
.btn-donate {
  background-color: #fff;
  font-size: 1em;
  padding: 10px 15px;
  border-radius: 3px;
  outline: none;
  border: none;
  color: brown;
  cursor: pointer;
}
